@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-footer {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }
  .clip-sponsors,
  .clip-form {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  }
  .clip-sponsors-responsive-lg,
  .clip-form-responsive-lg {
    clip-path: polygon(0 0, 100% 11%, 100% 100%, 0% 100%);
  }
  .clip-sponsors-responsive-md,
  .clip-form-responsive-md {
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
  }
  .clip-we-do {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
  }
  .clip-we-do-responsive {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  }
  .clip-hero-home {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 85%);
  }
  .clip-hero-home-responsive {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 90%);
  }
  .clip-header {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 10%);
  }
  .clip-our-services,
  .clip-informations {
    clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 82%);
  }

  .clip-our-services-responsive,
  .clip-informations-responsive {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
    padding-bottom: 4px;
  }

  .link-underline-blue {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#005f9c, #005f9c);
  }
  .link-underline-white {
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }

  .show-picture {
    display: none;
  }
  .show-more-pictures.more-pictures-show-more .show-picture {
    display: grid;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav a {
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 36px;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 16px;
  }
}
